<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="example-headers-color">
      <mat-panel-title>
        API DE CONSULTAS RUC
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    Consulta datos públicos de empresas y personas de forma rápida mediante interfaz de programación (API REST).
    <br/><br/>
    Ideal para hacer búsquedas desde tus aplicaciones web y móviles, te ayudará a validar información de tus clientes de forma gratuita, 
    integrable desde cualquier lenguaje de programación. → <a href="#">Ver ocumentación</a>
  </mat-expansion-panel>
</mat-accordion>
<br/>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="example-headers-color">
      <mat-panel-title>
        Documentación
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    Mediante la API REST de PeruApis.com puedes realizar consultas de datos desde tus aplicaciones de forma sencilla, simplemente enviando el parámetro document en tus solicitudes.
    <br/><br/>
    <b>
    curl -X POST {{message}}/company/10463982711 \
          -H 'Accept: application/json' \
          -H 'Content-Type: application/json' \
          -H 'user-access: YOUR_USER' \
          -H 'token-access: YOUR_TOKEN' \
          -d "document=20295613620"
    </b>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="example-headers-color">
      <mat-panel-title>
        Endpoint
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    Especifica la dirección URL principal de la API
    <br/><br/>
    <b>
      {{message}}/company/10463982711
    </b>
  </mat-expansion-panel>
</mat-accordion>